.policy {
  padding: 40px 0;
  h1,
  h3 {
    color: #11263c;
    font-weight: 600;
  }

  a {
    color: #8faf95;
    text-decoration: none;
  }

  p {
    font-size: 18px;
  }

  strong {
    color: #8faf95;
  }
}
